<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="log4net.Internal.Debug" value="true"/>
  <add key="log4net.Config" value="Configs\Log4Net.config"/>
  <add key="log4net.Config.Watch" value="True"/>
  <add key="QuartzDescription" value="WarehouseStatistics 仓库统计定时发送邮箱"/>
  <add key="QuartzDisplayName" value="WarehouseStatistics服务"/>
  <add key="QuartzServiceName" value="WarehouseStatistics"/>
  <!--分布式服务器Id配置开始-->
</appSettings>

